---
import Layout from "../layouts/Layout.astro";
import AdminClientDashboard from "../components/AdminClientDashboard.tsx";
---

<Layout title="Recruiter Dashboard">
  <section class="min-h-screen bg-transparent text-white flex flex-col items-center p-8 z-10 relative">
    <h1 class="text-4xl font-bold mb-8 text-orange-400">Recruiter Dashboard</h1>
    <AdminClientDashboard client:load />
  </section>
</Layout>
