---
import DashboardPage from "../components/DashboardPage";
import Layout from "../layouts/Layout.astro";

const title = "Dashboard - Devlabs";
---

<Layout title={title} hideNavbar skipPageLoader>
  <div class="min-h-screen">
    <DashboardPage client:load />
  </div>
  <style>
    .page-spacing {
      padding-top: 6rem;
    }
  </style>
</Layout>
