---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Events from "../components/Events.astro";
import Team from "../components/Team.astro";
import CenteredSection from "../components/CenteredSection.astro";

import WrappedText from "../components/text/WrappedText.astro";
import Heading from "../components/text/Heading.astro";
import Highlight from "../components/text/Highlight.astro";
import Paragraph from "../components/text/Paragraph.astro";

import ContactForm from "../components/ContactForm.astro";

import LinkButton from "../components/LinkButton.astro";
import Scroll from "../components/Scroll.astro";
import Cards from "../components/Cards.astro";

import GradientBlob from "../components/GradientBlob.astro";
import HeroSection from "../components/HeroSection.astro";
import IntroSection from "../components/IntroSection.astro";
import PressSection from "../components/PressSection.astro";
import ManifestoSection from "../components/ManifestoSection.astro";
import EventsShowcase from "../components/EventsShowcase.astro";
import Polaroid from "../components/Polaroid.astro";
import JoinNowCTA from "../components/JoinNowCTA.astro";
---

<Layout title="Devlabs">
  <HeroSection />

  <IntroSection />

  <PressSection />

  <ManifestoSection />

  <EventsShowcase />

  <Events />

  <JoinNowCTA />
 

  <!--     

  <Team
    members={[
      ["dhanush vardhan", "/team/dhanush.jpg", "president"],
      ["soham daga", "/team/soham.jpg", "vice president"],
      ["bhoomi singhani", "/team/bhoomi.jpeg", "vp of operations"], 
      ["chakshu jain", "/team/chakshu.JPG", "vp of finance"],
      ["tanish parsana", "/team/tanish.jpg", "vp of industry"],
      ["adwait more", "/team/adwait.jpg", "marketing director"],
      ["aditya bohra", "/team/aditya.jpg", "marketing officer"],
      ["riya ubhe", "/team/riya.jpg", "marketing officer"],
      ["anay shirolkar", "/team/anay.jpg", "marketing officer"],
      ["dev thakkar", "/team/dev.jpeg", "events officer"],
      ["khushal saini", "/team/khushal.jpeg", "videographer"],
      ["sreeram sreedhar", "/team/sreeram.jpg", "photographer"],
      ["debo bannerjee", "/team/debo.jpeg", "video editor"],
      ["yuvam bhargav", "/team/yuvam.jpeg", "finance officer"],
      ["aryan keluskar", "/team/aryan.png", "industry officer"],
      ["pranay athipathala", "/team/pranay.jpg", "industry officer"],
    ]}
  />

  <CenteredSection id="vision" className="mb-24">
    <GradientBlob top="-400px" right="-350px" left="" scale="1.5" />
    <Polaroid
      image="https://dhanush.wtf/media/udqhwdp2kcn.jpg?file="
      rotate="-15deg"
      top="25%"
      left="10%"
    />
    <Polaroid
      image="https://dhanush.wtf/media/uzp4y1ct1g.jpg?file="
      rotate="6deg"
      top="65%"
      right="15%"
    />

    <div
      class="w-2/3 flex flex-col lg:gap-16 md:gap-12 gap-8 items-center text-center md:py-40 py-20"
    >
      <Heading
        >We are building the <Highlight>launchpad</Highlight> for Arizona's next
        <Highlight> 100 startups.</Highlight></Heading
      >
      <div class="flex flex-col gap-6 items-center">
        <WrappedText size="normal" className="">our vision</WrappedText>

                <div class="flex flex-col gap-4 items-center">
                    <Paragraph>Build Arizona's first full-time incubator for real builders</Paragraph>
                    <Paragraph>Launch a hacker house in PHX</Paragraph>
                    <Paragraph>Fund and support 50+ startups in the next 3 years</Paragraph>
                </div>
                <Paragraph>Phoenix deserves this. We're building it.</Paragraph>
            </div>
        </div>
    </CenteredSection> -->
<!-- 
  <CenteredSection id="contact" className="mb-24">
    <GradientBlob top="-400px" right="-350px" left="" scale="1.5" />

    <div
      class="w-2/3 flex flex-col lg:gap-16 md:gap-12 gap-8 items-center text-center md:py-40 py-20"
    >
      <WrappedText size="normal" className="">want to talk to us?</WrappedText>
      <Heading><Highlight>reach out</Highlight> and say hi.</Heading>
      <ContactForm />
    </div>
  </CenteredSection> -->
</Layout>

<style>
  /* Ensure polaroids in about section are below text but above background */
  #about .polaroid {
    z-index: 5;
  }

  #about > div {
    z-index: 20;
  }
</style>
