---
interface Props {
    id: string;
	className: string;
}

const { id, className } = Astro.props;
---

<section id={id} class={`container mx-auto relative flex flex-col items-center ${className}`} data-parallax-section data-parallax-depth="0.04">
    <slot />
</section>

<style>
    section :global(.polaroid) {
        z-index: 5;
    }
    
    section :global(> div) {
        position: relative;
        z-index: 20;
    }
</style>