---
import WrappedText from './text/WrappedText.astro';
import LinkButton from './LinkButton.astro';
import Heading from './text/HeadingBig.astro';
import Paragraph from './text/Paragraph.astro';
import Highlight from './text/Highlight.astro';
import GradientBlob from './GradientBlob.astro';
---

<section id="builders" class="container mx-auto relative md:pl-6 grid md:grid-cols-5 grid-cols-1 border border-dashed border-gray-700 mb-24">
    <GradientBlob top="-300px" left="-450px" right='' scale="1.5" />
    
    <div class="relative col-span-3 md:px-0 md:py-32 px-12 py-20 md:w-5/6">
        <div class="flex flex-col md:gap-16 gap-12 justify-center md:items-start items-center md:text-left text-center">
            <div class="flex flex-col gap-6 md:items-start items-center">
                <WrappedText size="normal" className=''>our community in action</WrappedText>  
                <Heading>built by builders. <Highlight>for builders</Highlight>.</Heading>
                <div class="carousel w-full">
                    <div class="carousel-inner relative w-full overflow-hidden">
                        <div class="carousel-item relative float-left w-full">
                            <img src="events/placeholder1.jpg" class="block w-full" alt="DevHacks 2025">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                                <p class="text-white">DevHacks 2025: 180+ Hackers. 50+ Projects. $2K in Prizes.</p>
                            </div>
                        </div>
                        <div class="carousel-item relative float-left w-full">
                            <img src="events/placeholder2.jpg" class="block w-full" alt="DevSpace Cohort">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                                <p class="text-white">DevSpace Cohort: 6 Weeks. 1 Winner. Infinite Learnings.</p>
                            </div>
                        </div>
                        <div class="carousel-item relative float-left w-full">
                            <img src="events/placeholder3.jpg" class="block w-full" alt="Mentorship Night">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                                <p class="text-white">Mentorship Night at ASU</p>
                            </div>
                        </div>
                        <div class="carousel-item relative float-left w-full">
                            <img src="events/placeholder4.jpg" class="block w-full" alt="Demo Day">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                                <p class="text-white">Full House Demo Day</p>
                            </div>
                        </div>
                        <div class="carousel-item relative float-left w-full">
                            <img src="events/placeholder5.jpg" class="block w-full" alt="Code Sprint">
                            <div class="absolute bottom-0 left-0 right-0 bg-black bg-opacity-50 p-4">
                                <p class="text-white">Code Sprint Night</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-clip-padding md:sticky md:top-0 box-border overflow-hidden col-span-2 border border-dashed border-gray-700">
        <img src="events/hitoai2.jpg" alt="Tech Event" class="min-h-full min-w-full object-cover mix-blend-multiply">
    </div>
</section>

<style>
    .carousel {
        position: relative;
    }
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .carousel-item {
        position: relative;
        display: none;
        float: left;
        width: 100%;
        margin-right: -100%;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
    }
    .carousel-item.active {
        display: block;
    }
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: none;
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: .9;
    }
</style>

<script>
    let currentSlide = 0;
    const slides = document.querySelectorAll('.carousel-item');
    
    function showSlide(n) {
        slides.forEach(slide => slide.classList.remove('active'));
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].classList.add('active');
    }
    
    function nextSlide() {
        showSlide(currentSlide + 1);
    }
    
    function prevSlide() {
        showSlide(currentSlide - 1);
    }
    
    // Auto-rotate slides every 5 seconds
    setInterval(nextSlide, 5000);
    
    // Show first slide initially
    showSlide(0);
    
    // Add click handlers for prev/next buttons
    document.querySelector('.carousel-control-prev')?.addEventListener('click', prevSlide);
    document.querySelector('.carousel-control-next')?.addEventListener('click', nextSlide);
</script>